<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZDImgDetailView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D9BA6DF1CDC5E5E00753C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9BA6F31CDC5E5E00753C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9BA6FE1CDC5E5E00753C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
